<!DOCUTYPE html>

<html>
  <head>
    <title> Dynamic Dice Roll </title>
  </head>


  <body>
    <h1> 50D6  </h1>
    <ul> 
      <% @rolls.each do |a roll|   %>
        <li> <% a roll %> </li>
      <% end%>
    </ul>

  </body>


</html>
